<?xml version="1.0" encoding="UTF-8"?>
<!-- was: <?xml version="1.0" encoding="UT
F-8"?> -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>StreamVideoServlet</servlet-name>
        <servlet-class>cameramodule.controller.StreamVideoServlet</servlet-class>
        <init-param>
            <param-name>urlStream</param-name>
            <param-value>http://213admin:datsabigmonitor@129.186.69.208/nphMotionJpeg?Resolution=640x480&amp;Quality=Clarity</param-value>
        </init-param>
        <init-param>
            <param-name>urlCap</param-name>
            <param-value>http://213admin:datsabigmonitor@129.186.69.208/SnapshotJPEG?Resolution=640x480&amp;Quality=Clarity&amp;Count=1</param-value>
        </init-param>
        <init-param>
            <param-name>urlSave</param-name>
            <param-value>http://129.186.69.208/SnapshotJPEG?Resolution=640x480&amp;Quality=Clarity&amp;Count=1</param-value>
        </init-param>
        <init-param>
            <param-name>camName</param-name>
            <param-value>213admin</param-value>
        </init-param>
        <init-param>
            <param-name>camPassword</param-name>
            <param-value>datsabigmonitor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CaptureImageServlet</servlet-name>
        <servlet-class>cameramodule.controller.CaptureImageServlet</servlet-class>
        <init-param>
            <param-name>urlStream</param-name>
            <param-value>http://213admin:datsabigmonitor@129.186.69.208/nphMotionJpeg?Resolution=640x480&amp;Quality=Clarity</param-value>
        </init-param>
        <init-param>
            <param-name>urlCap</param-name>
            <param-value>http://213admin:datsabigmonitor@129.186.69.208/SnapshotJPEG?Resolution=640x480&amp;Quality=Clarity&amp;Count=1</param-value>
        </init-param>
        <init-param>
            <param-name>urlSave</param-name>
            <param-value>http://129.186.69.208/SnapshotJPEG?Resolution=640x480&amp;Quality=Clarity&amp;Count=1</param-value>
        </init-param>
        <init-param>
            <param-name>camName</param-name>
            <param-value>213admin</param-value>
        </init-param>
        <init-param>
            <param-name>camPassword</param-name>
            <param-value>datsabigmonitor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DBInit</servlet-name>
        <servlet-class>clientdb.model.DBInit</servlet-class>
        <init-param>
            <param-name>SSHUser</param-name>
            <param-value>sabankar</param-value>
        </init-param>
        <init-param>
            <param-name>SSHPassword</param-name>
            <param-value>iowasne1</param-value>
        </init-param>
        <init-param>
            <param-name>SSHHost</param-name>
            <param-value>gala.cs.iastate.edu</param-value>
        </init-param>
        <init-param>
            <param-name>SSHPort</param-name>
            <param-value>22</param-value>
        </init-param>
        <init-param>
            <param-name>LocalPort</param-name>
            <param-value>22</param-value>
        </init-param>
        <init-param>
            <param-name>RemotePort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>DBUser</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>DBPassword</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>RemoteHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>DriverName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>SchemaName</param-name>
            <param-value>cyclones</param-value>
        </init-param>
        <init-param>
            <param-name>CamName</param-name>
            <param-value>213admin</param-value>
        </init-param>
        <init-param>
            <param-name>CamPassword</param-name>
            <param-value>datsabigmonitor</param-value>
        </init-param>
        <init-param>
            <param-name>urlAddFace</param-name>
            <param-value>http://kmutt-dsd.sit.kmutt.ac.th/facerec-us/face</param-value>
        </init-param>
        <init-param>
            <param-name>urlTrainFace</param-name>
            <param-value>http://kmutt-dsd.sit.kmutt.ac.th/facerec-us/training</param-value>
        </init-param>
        <init-param>
            <param-name>urlRecFace</param-name>
            <param-value>http://kmutt-dsd.sit.kmutt.ac.th/facerec-us/recognition</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>login.controller.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainIdValidationServlet</servlet-name>
        <servlet-class>picturecontroller.controller.TrainIdValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendImageServlet</servlet-name>
        <servlet-class>picturecontroller.controller.SendImageServlet</servlet-class>
        <init-param>
            <param-name>urlAddFace</param-name>
            <param-value>http://kmutt-dsd.sit.kmutt.ac.th/facerec-us/face</param-value>
        </init-param>
        <init-param>
            <param-name>urlTrainFace</param-name>
            <param-value>http://kmutt-dsd.sit.kmutt.ac.th/facerec-us/training</param-value>
        </init-param>
        <init-param>
            <param-name>urlRecFace</param-name>
            <param-value>http://kmutt-dsd.sit.kmutt.ac.th/facerec-us/recognition</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>clientdb.controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUser</servlet-name>
        <servlet-class>clientdb.controller.ModifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserInfo</servlet-name>
        <servlet-class>clientdb.controller.EditUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceTeacher</servlet-name>
        <servlet-class>attendancereport.controller.CheckAttendanceTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewAttendanceStudent</servlet-name>
        <servlet-class>attendancereport.controller.ReviewAttendanceStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSelServlet</servlet-name>
        <servlet-class>login.controller.CourseSelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSchedule</servlet-name>
        <servlet-class>attendancereport.controller.ShowSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateSchedule</servlet-name>
        <servlet-class>attendancereport.controller.DateSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>login.controller.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>clientdb.controller.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StreamVideoServlet</servlet-name>
        <url-pattern>/StreamVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptureImageServlet</servlet-name>
        <url-pattern>/CaptureImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainIdValidationServlet</servlet-name>
        <url-pattern>/TrainIdValidationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendImageServlet</servlet-name>
        <url-pattern>/SendImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUser</servlet-name>
        <url-pattern>/ModifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserInfo</servlet-name>
        <url-pattern>/EditUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceTeacher</servlet-name>
        <url-pattern>/CheckAttendanceTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewAttendanceStudent</servlet-name>
        <url-pattern>/ReviewAttendanceStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSelServlet</servlet-name>
        <url-pattern>/CourseSelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSchedule</servlet-name>
        <url-pattern>/ShowSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateSchedule</servlet-name>
        <url-pattern>/DateSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
